<h1>Listing extractors</h1>

<table>
  <tr>
    <th>Domain</th>
  </tr>
<% @extractors.each do |extractor| %>
  <tr>
    <td><%=h extractor.domain %></td>
    <td><%= link_to 'Show', extractor %></td>
    <td><%= link_to 'Edit', edit_extractor_path(extractor) %></td>
    <td><%= link_to 'Destroy', extractor, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Logout', :controller => :sessions,  :action => :destroy%>