<link rel="alternate" type="application/rss+xml" href="<%=@extractor.id%>.rss"></link>

<p>
  <b>Domain:</b>
  <%=h @extractor.domain %>
</p>

<p>
  <b>User:</b>
  <%=h @extractor.user.login %>
</p>

<p>
	<b>Update Time:</b>
	<% form_for(@extractor) do |f| %>
		<%= time_select :extractor, :update_time %>
		<%= f.submit 'Update' %>
	<%end%>
</p>

<p>
	<b>Labels:</b>
	<table>
		<tr>
			<th>Label</th>
			<th>XPath</th>
		</tr>
	<% @extractor.annotations.each do |annotation| %>
		<tr>
			<td><%=h annotation.label %></td>
			<td><%=h annotation.xpath %></td>
			<td><%= link_to 'Show', annotation %></td>
			<td><%= link_to 'Edit', edit_annotation_path(annotation) %></td>
			<td><%= link_to 'Destroy', annotation, :confirm => 'Are you sure?', :method => :delete %></td>
		</tr>
	<% end %>
	</table>
	<b>Pages:</b>
	<table>
		<tr>
			<th>Title</th>
			<th>Link</th>
		</tr>
		<% @extractor.pages.each do |page| %>
		<tr>
			<td><%=h page.title %></td>
			<td><a href="<%=page.url%>">Go!</a></td>
			<td><%= link_to 'Show', page %></td>
			<td><%= link_to 'Edit', edit_page_path(page) %></td>
			<td><%= link_to 'Destroy', page, :confirm => 'Are you sure?', :method => :delete %></td>
		</tr>
		<% end %>
	</table>
</p>
<%if (@latest_revision)%>
<p>
	<b>Latest revision:</b> <%=h @latest_revision.created_at %>
	<table>
		<tr>
			<th>Label</th>
			<th>Value</th>
		</tr>
		<%@latest_scraped_values.each do |scraped_value|%>
		<tr>
			<td><%= scraped_value.annotation.label %></th>
			<td><%= scraped_value.value %></th>
		</tr
		<%end%>
	</table>
</p>

<%end%>
<%= link_to 'Edit', edit_extractor_path(@extractor) %> |
<%= link_to 'Back', extractors_path %>