<h1>Editing annotation</h1>

<% form_for(@annotation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :css_selector %><br />
    <%= f.text_field :css_selector %>
  </p>
  <p>
    <%= f.label :page_id %><br />
    <%= f.text_field :page_id %>
  </p>
  <p>
    <%= f.label :label_id %><br />
    <%= f.text_field :label_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @annotation %> |
<%= link_to 'Back', annotations_path %>