<p>
  <b>Css selector:</b>
  <%=h @annotation.xpath %>
</p>

<p>
  <b>Page:</b>
  <%=h @annotation.page_id %>
</p>

<p>
  <b>Label:</b>
  <%=h @annotation.label %>
</p>


<%= link_to 'Edit', edit_annotation_path(@annotation) %> |
<%= link_to 'Back', annotations_path %>