<h1>Editing page_association</h1>

<% form_for(@page_association) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :page_id %><br />
    <%= f.text_field :page_id %>
  </p>
  <p>
    <%= f.label :extractor_id %><br />
    <%= f.text_field :extractor_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @page_association %> |
<%= link_to 'Back', page_associations_path %>