<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
		<title>GrabSmart</title>
		<%= stylesheet_link_tag 'style' %>
	</head>
	<body>
		<div id="header">
			<div style="float:left;width:300px;" > 
				<h1 id="title"> grab<em>smart</em></h1>
			</div>
			<%if logged_in?%>
				<div class="big" style="float:right;width:400px;margin:0.46em;border:1px solid #F0F0F0;background-color:#FAFAFA;padding:0.76em">
					<b>To install, drag the button to your toolbar.</b>
					To find out how to use the bookmarklet, go <%= link_to 'here', :controller=>:evaluation %>
					<div style="text-align:center;"><%= render :partial => 'bookmarklet/button'%></div>
				</div>
			<%end%>
			<%= render :partial => 'users/user_bar' %>
		</div>
		<div id="main">
			<%if flash[:notice] %>
				<div class="important"> 
					<p class="big">
					<%= flash[:notice] %>
					</p>
				</div>
			<%end%>
			<%= yield %>
		</div>
	</body>
</html>
